# Java/Spring & Maven
**/target/
**/build/
**/.gradle/

# Environment & Secrets
.env
.env.*
!.env.example

# IDE & Editor files
.vscode/
.idea/
*.swp

# Python
**/venv/
**/__pycache__/
**/*.pyc

# Node/Next.js
**/node_modules/
**/.next/

# Flutter
**/build/
**/.dart_tool/
**/ios/Pods/